
body {
    margin:0 auto;
    font-family:arial;
    font-size:110%;
}

.allergen {
    font-weight:bold;
}

#burgers {
    background-color:#000000;
    color:#ffffff
}

#order {
    
}

button:hover {
    background-color:#90ee90;
    cursor:pointer;
}

table {
    margin:0 auto;
    width:95%;
}

table img {
    width:95%;
}