
body {
    margin:0 auto;
    font-family:arial;
    font-size:110%;
}

header {
    margin:8px;
}

header h1 {
    position:absolute;
    margin-top:-13%;
    margin-left:5%;
}

header img {
    width:100%;
    opacity:0.6;
}

section {
    margin:8px;
    border:2px dashed;
}

section p, section h2 {
    padding:0 12px;
}

.allergen {
    font-weight:bold;
}

#burgers {
    background-color:#000000;
    color:#ffffff;
    border-color:#ffffff;
}

#order {
    border-color:#000000;    
}

button {
    display:inline;
    margin:10px 0 20px 15px;
    width:20%;
    font-size:110%;
    min-width:186px;

}

button img {
    horizontal-align:left;
    vertical-align:middle;
    width:15%;
}

button:hover {
    background-color:#90ee90;
    cursor:pointer;
}

table {
    margin:0 auto;
    width:95%;
}

td, th {
    width:33%;
}

table img {
    width:95%;
}