
body {
    margin:0 auto;
    font-family:arial;
    font-size:110%;
}

section {
    margin:8px;
    border:2px dashed;
}

section p, section h2 {
    padding:0 12px;
}

.allergen {
    font-weight:bold;
}

h1 {
    margin:5px 10px;
}

#burgers {
    background-color:#000000;
    color:#ffffff;
    border-color:#ffffff;
}

#order {
    border-color:#000000;    
}

button {
    margin:10px;
}

button:hover {
    background-color:#90ee90;
    cursor:pointer;
}

table {
    margin:0 auto;
    width:95%;
}

td, th {
    width:33%;
}

table img {
    width:95%;
}